.profile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  display: flex;
  background-color: rgba(182, 182, 182, 0.29);
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.vertical {
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content:space-between;
}
.hor-container {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
}
.dp-parent {
width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details {
  background-color: white;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dp {
  margin-bottom: 24px;
  overflow: hidden;
  width: 55%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.dp > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* @media(max-width:1024px ){
    .outer{
        width: ;
        height: 500px;
    }
} */
@media (max-width: 644px) {
    .dp-parent{
        width: 60%;
    }
  .dp {
    margin-bottom: 24px;
    overflow: hidden;
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  .dp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile-container {
    width: 100vw;
    height: 100vh;
  }
  .outer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px;
  }
  .details {
    border-radius: 30px;

    width: 60%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .vertical {
    width: 80%;
    height: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .hor-container {
    flex-direction: row;
    justify-content: space-between;
    height: 45%;
    width: 90%;
  }
  .horizontal {
    width: 47.5%;
    height: 100%;
  }
}
@media (min-width: 645px) {
  .profile-container {
    width: 95vw;
    height: min(130vw, 80vh);
  }
  .outer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .vertical {
    width: 90%;
    height: 45%;
  }
  .hor-container {
    flex-direction: row;
    justify-content: space-between;
    height: 45%;
    width: 90%;
  }
  .horizontal {
    width: 47.5%;
    height: 100%;
  }
  .dp-parent {
    width:47.5%;
    }
}

@media (min-width: 769px) {
  .profile-container {
    height: 85vw;
    width: 85vw;
  }
  .outer {
    flex-direction: row;
    height: 70%;
    width: 90%;
  }
  .vertical {
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 90%;
    justify-content: space-around;
  }
  .hor-container {
    flex-direction: column;
    height: 90%;
    width: 45%;
  }
  .horizontal {
    height: 47.5%;
    width: 100%;
    background-color: white;
    border-radius: 30px;
  }
  .dp-parent{
        width: 100%;
    }
}
@media (min-width: 900px) {
  .profile-container {
    height: 75vw;
    width: 75vw;
  }
}
@media (min-width: 1230px) {
  .profile-container {
    height: 65vw;
    width: 65vw;
  }
}
@media (min-width: 1440px) {
  .profile-container {
    height: 55vw;
    width: 55vw;
  }
}
@media (min-width: 1800px) {
  .profile-container {
    height: 45vw;
    width: 45vw;
  }
}
